<a href="https://colab.research.google.com/github/danielarthurguerra/estudos/blob/main/Python_para_DS_(Puc_Minas_P%C3%B3s_Data_Science).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Aula 1

In [ ]:
print('tudo bem?')

tudo bem?

In [ ]:
idade_pessoa_1 = 18
idade_pessoa_2 = 20

In [ ]:
idade_pessoa_1 + idade_pessoa_2

38

In [ ]:
soma_idades = idade_pessoa_1 + idade_pessoa_2

In [ ]:
soma_idades

38

In [ ]:
3 / 2

1.5

In [ ]:
3 // 2 #divisao inteira

1

In [ ]:
#@title Listas

In [ ]:
list

list

In [ ]:
list[20, 30, 40]

TypeError: ignored

In [ ]:
list()

[]

In [ ]:
lista_idades = [20, 30, 40]

In [ ]:
print(lista_idades)

[20, 30, 40]

In [ ]:
lista_nomes=['Daniel', 'Debora', 'Dayanne']

In [ ]:
print(lista_idades, lista_nomes)

[20, 30, 40] ['Daniel', 'Debora', 'Dayanne']

In [ ]:
nome_idade_daniel = ['Daniel', 20]

In [ ]:
'Daniel' in lista_nomes

True

In [ ]:
teste = 'Daniel' in lista_nomes #Guardar resultado de função dentro de uma variável

In [ ]:
print(teste)

True

In [ ]:
[['Daniel', 20], ['Debora', 18]] #Listas de listas

[['Daniel', 20], ['Debora', 18]]

In [ ]:
lista_nota_Daniel = 1

In [ ]:
print('o', lista_nomes[0], 'tirou', str(lista_nota_Daniel))

o Daniel tirou 1

In [ ]:
print('Daniel' + 'Arthur')

DanielArthur

In [ ]:
print('Daniel' + 10) #não concatena numero e letra (transformar numro em testo "str")

TypeError: ignored

In [ ]:
print('Daniel ' + str(10))

Daniel 10

In [ ]:
lista_nomes[0:2]

['Daniel', 'Debora']